.main {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 80vw;
	height: 150px;
	margin-top: 10px;
	padding: 10px;
}

.block {
	display: flex;
	flex-direction: column;
	flex: 4;
	justify-content: flex-start;
	align-items: flex-start;
	background: orange;
	height: inherit;
}

.starterStopper {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: inherit;
}

#true {
	background: red;
}

#false {
	background: green;
}

.block:hover {
	filter: brightness(95%);
}

.blockHeader {
	font-size: 2em;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.image {
	height: 30px;
	width: 30px;
	border-radius: 5px;
	background: wheat;
	margin: 3px;
}

.timeBlock {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.timeDisplay {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.time {
	color: white;
	font-size: 1.6em;
}

.manipulateTimeButton {
	margin: 2px;
}